<div class="container">
  <nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <span class="mobile-only">Click to navigate >></span>
      </a>

      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/index.html">Home</a>
          <a class="nav-link" href="/subpages/games/snake.html">Snake</a>
			<a class="nav-link" href="/subpages/games/brick.html">Brick</a>
			<a class="nav-link" href="/subpages/games/space.html">Space</a>
			<a class="nav-link text-danger" id="superHidden" href="/subpages/secrets/justdont.html">Just Don't...</a>
        </div>
      </div>

    </div>
  </nav>
</div>